.dark-section {
  background-color:#90ebf1;
  color:rgb(109,174,165);
}

body {
  /*margin:0;*/
  font-family:sans-serif;
  /*font-size:1rem;*/
  /*font-weight:400;*/
  /*line-height:1.5;*/
  /*color:#888;*/
  /*text-align:left;*/
  /*background-color:#fff;*/
}

#promo {
  text-align:center;
  padding:20px;
  background-image:url("../../assets/img/unicorn-cupcakes-130071-1.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

@media (min-width: 768px) {
  #promo {
    text-align:center;
    padding:40px;
    background-image:url("../../assets/img/unicorn-cupcakes-130071-1.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }
}

#promo .jumbotron {
  border-radius:20px;
  padding:20px;
  background-color:rgba(233,236,239,0.81);
  max-width:800px;
  margin:0 auto;
}

@media (min-width: 768px) {
  #promo .jumbotron {
    border-radius:20px;
    padding:40px;
    background-color:rgba(233,236,239,0.81);
    max-width:800px;
    margin:0 auto;
  }
}

.container {
  text-align:center;
  padding:60px;
}

#welcome p {
  max-width:800px;
  font-size:20px;
  margin:0 auto;
}

site-section h1 {
  font-weight:normal;
  margin-bottom:30px;
}

site-section {
  text-align:center;
  padding:50px 0 60px;
  padding-bottom:70px;
}

.fa.fa-birthday-cake {
  font-size:40px;
  color:#fc758e;
}

.fa.fa-heart {
  font-size:40px;
  color:#fcd856;
}

.fa.fa-shopping-basket {
  font-size:40px;
  color:#894fbf;
}

#logo {
  max-height:40px;
  margin-top:-3px;
  display:inline-block;
  margin-right:5px;
  color:red;
}

#button {
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display:-webkit-box !important;
    /*display:-ms-flexbox !important;*/
    display:flex !important;
    /*-ms-flex-preferred-size:auto;*/
    flex-basis:auto;
  }
}

